asn1crypto==0.24.0
backcall==0.2.0
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
httplib2==0.18.1
idna==2.9
ipykernel==5.3.0
ipython==7.15.0
ipython-genutils==0.2.0
jedi==0.17.0
joblib==0.15.1
jupyter-client==6.1.3
jupyter-core==4.6.3
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.2.0
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
macaroonbakery==1.1.3
Mako==1.0.7
matplotlib==3.2.1
netifaces==0.10.4
neurokit2==0.0.36
numpy==1.18.5
oauth==1.0.1
olefile==0.45.1
pandas==1.0.4
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
plotly==4.8.1
prompt-toolkit==3.0.5
protobuf==3.0.0
ptyprocess==0.6.0
pycairo==1.16.2
pycparser==2.20
pycryptodome==3.9.7
pycups==1.9.73
Pygments==2.6.1
pymacaroons==0.13.0
PyNaCl==1.1.2
pyparsing==2.4.7
pyRFC3339==1.0
python-dateutil==2.8.1
python-debian==0.1.32
pytz==2020.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.1
reportlab==3.4.0
requests==2.23.0
requests-unixsocket==0.1.5
retrying==1.3.3
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
SecretStorage==2.3.1
simplejson==3.13.2
six==1.15.0
sklearn==0.0
system-service==0.3
systemd-python==234
threadpoolctl==2.1.0
tornado==6.0.4
traitlets==4.3.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.9
usb-creator==0.3.3
virtualenv==15.1.0
wadllib==1.3.2
wcwidth==0.2.4
xkit==0.0.0
zope.interface==4.3.2
